{% extends 'layouts/base.html' %}
{% import 'macros/form.html' as f with context %}
{% block title %}Where to?{% endblock %}

{% block body %}
<div class="row">
  <h1 style="text-align:center">MotionPoint Sales Scanner</h1>
  <div class="col-md-8 col-md-offset-2 well">
    {% call f.form_tag('analyze.index') %}
      <legend>Stop the headaches</legend>

      {% call f.form_group(form.website, css_class='margin-bottom',
                           placeholder='Website URL') %}
      {% endcall %}
      <button type="submit" class="btn btn-primary">Scan Site</button>
    {% endcall %}
  </div>
</div>
<div style="margin:0 auto; vertical-align:center;" align="center" class="row">
  <div class="col-md-2 col-md-offset-5">
    <a href="{{ url_for('analyze.bulk') }}">
      <button type="button" class="btn btn-primary btn-lg">
        <i class="fa fa-android fa-5x" aria-hidden="true"></i>
      </button>
    </a>
  </div>
</div>
{% if data %}
<div class="row">
  {{ data }}
</div>
{% endif %}
{% endblock %}
