{% extends 'layouts/base.html' %}
{% import 'macros/form.html' as f with context %}
{% block title %}Where to?{% endblock %}

{% block body %}
<div class="row">
  <h1 style="text-align:center">MotionPoint Sales Scanner</h1>
  <div class="col-md-8 col-md-offset-2 well">
    {% call f.form_tag('analyze.index') %}
      <legend>Stop the headaches</legend>

      {% call f.form_group(form.website, css_class='margin-bottom',
                           placeholder='Website URL') %}
      {% endcall %}
      <button type="submit" class="btn btn-primary">Scan Site</button>
    {% endcall %}
  </div>
</div>
{% if data %}
<div class="row">
  {{ data }}
</div>
{% endif %}
{% endblock %}
