{% extends 'layouts/base.html' %}

{% block title %}Learnings{% endblock %}
{% block meta_description %}What does the competition look like?{% endblock %}

{% block body %}

<div class="content" style="margin:0 auto; vertical-align:center;" align="center">
  <h1>Company Overview</h1>
  <p><em>Understand the opportunity - win the deal</em></p>
</div>
<br><br>
<div class="container">
  <div class="col-xs-6">
    <table class="table table-striped">
      <thead>
        <tr>
          Individual Domains
        </tr>
      </thead>
      <tbody>
        {% for site in sites %}
          <tr>
            <td class="col-md-1">
              <a href="{{ url_for('analyze.export', job_id= site['_id']['uuid'], report='domain') }}">
                {{ site['_id']['homepage'] }}
              </a>
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    <table class="table table-striped">
      <thead>
        <tr>
          Batch Jobs
        </tr>
      </thead>
      <tbody>
        {% for job in batch %}
          <tr>
            <td class="col-md-1">
              <a href="{{ url_for('analyze.export', job_id=job, report='batch') }}">
                {{ job }}
              </a>
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
