{% extends 'layouts/base.html' %}

{% block title %}Learnings{% endblock %}
{% block meta_description %}What does the competition look like?{% endblock %}

{% block body %}

<div class="content" style="margin:0 auto; vertical-align:center;" align="center">
  <h1>Reports</h1>
  <p>Understanding the competition puts us one step closer to crushing them</p>
</div>

<div class="container">
  <h2 class="sub-header" style="text-align:center">
    Company Overview
  </h2>
  {% for group in data|slice(2) %}
  <div class="col-xs-6">
    <table class="table table-striped">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
          {% for company in group %}
          <tr>
            <td class="col-md-1">
              <a href="{{ url_for('analyze.analysis', client= company) }}">
                {{ company }}
              </a>
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>

{% endblock %}
