{% extends 'layouts/base.html' %}

{% block title %}{{ data['domain_name'] }}{% endblock %}
{% block meta_description %}Seo information about {{ data['domain_name'] }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>{% filter title %}{{ data['domain_name'] }}{% endfilter %}</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ url_for('analyze.analysis', client= data['domain_name']) }}">Overview</a></li>
        <li><a href="{{ url_for('analyze.translation', client= data['domain_name']) }}">Translation</a></li>
        <li class="active"><a href="{{ url_for('analyze.seo', client= data['domain_name']) }}">SEO</a></li>
        <li>
          <a href="{{ url_for('analyze.products', client= data['domain_name']) }}">
            MotionPoint Products
          </a>
        </li>
      </ul><br>
    </div>
    <br>
    <div class="col-sm-9">
      <div class="well">
        <h4>Website: {{ data['website'] }}</h4>
        <p>Company description text..</p>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4 style="text-align:center">Structured Data</h4><br>
            <p style="text-align:center; font-size:36px;">{{ data['schema_syntax'] }}</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4 style="text-align:center">Hreflang Elements</h4>
            <p style="text-align:center; font-size:36px;">{{ data['hreflangOnPage'] }}</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4 style="text-align:center">Page Speed Elements</h4>
            <p style="text-align:center; font-size:36px;"><strong>{{ data['preconnect_n'] }}</strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4 style="text-align:center">Digital Marketing Sophistication</h4>
            <p style="text-align:center; font-size:36px;"><strong>__</strong></p>
          </div>
        </div>
      </div>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-1">Meta Data Elements </th>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td class="col-md-1">Meta Description</td>
            </tr>
            <tr>
              <td class="col-md-1">OG: Meta Description</td>
            </tr>
            <tr>
              <td class="col-md-1">Twitter: Meta Description</td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
