{% extends 'layouts/base.html' %}

{% block title %}MP Prospect Scanner{% endblock %}
{% block meta_description %}Save yourself time and headaches by quickly assessing a prospect's digital marketing sophistication{% endblock %}

{% block body %}
<body background="{{ url_for('static', filename='images/background.jpg') }}" style="background-size: 100% auto;">
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1><strong>MotionPoint Scanner</strong></h1>
      <h3 class="text-muted">
        <em>Get a conversation started</em>
      </h3>
    </div><br><br>
    <div class="form-inline row text-center">
      <a href="{{ url_for('analyze.index') }}">
        <button class="btn btn-primary">Analyze</button>
      </a>
  </div>
  <br><br><br><br>
{% endblock %}
